<%- include('layout/header') %>
<div class="container">
    <div class="table-width">  
        <div class="display-table">
            <% if (events != '') { %>
            <table>
                <thead>
                    <tr class="border">
                        <th>
                            №
                        </th>
                        <th>
                            name
                        </th>
                        <th>
                            description
                        </th>
                        <th>
                            location
                        </th>
                        <th>
                            date
                        </th>
                        <th>
                            action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% events.forEach((row, index) => {   %>
                        <tr>
                            <td><%= index %></td>
                            <td><%= row.name %></td>
                            <td><%= row.description %></td>
                            <td><%= row.location %></td>
                            <td><%= row.date %></td>
                            <td>
                                <a href="/edit/<%= row.id %>"><button>edit</button></a>
                                <a href="/delete/<%= row.id %>"><button>delete</button></a>    
                            </td>
                        </tr>
                    <% })%>
                </tbody>
            </table>
            <% } else {%>  
                <h1>
                    No events found in database.
                </h1>      
                
            <% }%>
        </div>
    </div>
</div>
<%-include('layout/bottom') %>